@import '../../partial';

.mainSecond {
    width: 100%;
    height: 100vh;
    background: url("wave.svg");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
    place-items: center;
    position: relative;
    overflow-x: hidden;

    img {
        width: 80%;
        transform: rotate(0deg);
        z-index: 2;
    }

    &>div {
        width: 100%;
        height: 100%;
        padding-left: 20%;
        z-index: 2;
        p{
            font-size: 20px;
        }
        @include flex(column,center,flex-start,30px,wrap);
        button {
            border: 2px solid aqua;
            background-color: rgb(22, 122, 122);
            font-size: 15px;
            &:hover{
                background-color: yellow;
                color: black;
            }
        }
    }
    .circle1{
        background-color: rgb(9, 223, 223);
        height: 100px;
        width: 100px;
        padding-left: 0;
        border-radius: 50%;
        @include posA(60%,30%);
        z-index: 1;
    }
    .circle2{
        background-color: rgb(9, 223, 223);
        height: 200px;
        width: 200px;
        padding-left: 0;
        border-radius: 50%;
        @include posA(70%,70%);
        z-index: 1;
    }
    
}


@media screen and (max-width:1200px) {
    .mainSecond {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
        img {
            width: 70%;
        }
    
        &>div {
            padding: 70px;
            text-align: center;
            @include flex(column,space-evenly,center,30px,wrap);
            p{
                font-size: 15px;
            }
        }

        .circle1{
            @include posA(30%,10%);
        }
        .circle2{
            @include posA(50%,50%);
        }
        
    }
}

@media screen and (max-width:550px) {
    .mainSecond {
    
        img {
            width: 90%;
        }
    
        &>div {
            p{
                display: none;
            }
        }
        
    }
}