@import '../../partial';

.mainFourth {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    text-align: center;
    overflow: hidden;
    @include flex(column, center, center, 10px, normal);
    position: relative;

    .fourth {
        z-index: 2;
        width: 80%;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        .fourth-left {
            width: 90%;
            height: 100%;
            @include flex(column, space-evenly, center, 10px, normal);

            .feedback {
                @include flex(column, center, center, 10px, normal);
                padding: 10px;
                width: 80%;
                box-shadow: 0 0 8px 5px white;

                .profile {
                    img {
                        width: 30%;
                    }
                }
            }
        }

        .fourth-right {
            position: relative;
            z-index: 1;

            img {
                width: 100%;
            }

            .circle1 {
                background-color: rgb(26, 138, 138);
                height: 60%;
                width: 60%;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -1;
            }

            .circle2 {
                background-color: aqua;
                height: 70%;
                width: 70%;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -2;
            }

            .circle3 {
                background: rgb(13, 120, 120);
                height: 80%;
                width: 80%;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -3;
            }

        }
    }

    .randomCircle1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgba(23, 136, 136, 0.214);
        @include posA(70%, 60%);
        z-index: 1;
        box-shadow: 2px 2px 5px black;
    }

}



@media screen and (max-width:1200px) {
    .mainFourth {
        gap: 50px;

        .fourth {
            display: flex;

            .fourth-left {
                h1 {
                    display: none;
                }

                &>p {
                    display: none;
                }
            }

            .fourth-right {
                display: none;
            }
        }
    }
}


@media screen and (max-width:700px) {
    .mainFourth {
        .fourth {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            .fourth-left {
                &>p {
                    display: none;
                }

                .description {
                    height: 30%;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }
        }
    }
}