@import '../../partial';

.mainFourth {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(17, 115, 115);
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-rows: .1fr .9fr;
    place-items: center;
    position: relative;

    .fourth {
        z-index: 2;
        width: 80%;
        height: 100%;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        .fourth-left {
            @include flex(column, center, center, 10px, wrap);
            width: 100%;
            height: 100%;
            overflow: hidden;

            .swiper {
                width: 60%;
                height: 50%;
                box-shadow: 0 0 8px 5px white;
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                width: 100px;
                object-fit: contain;
            }

        }

        .fourth-right {
            position: relative;
            z-index: 1;

            img {
                width: 100%;
            }

            .circle1 {
                background-color: rgb(26, 138, 138);
                height: 300px;
                width: 300px;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -1;
            }

            .circle2 {
                background-color: aqua;
                height: 350px;
                width: 350px;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -2;
            }

            .circle3 {
                background: linear-gradient(#68613C,white);
                height: 400px;
                width: 400px;
                padding-left: 0;
                border-radius: 50%;
                @include posA(30%, 50%);
                z-index: -3;
            }

        }
    }

    .randomCircle1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgba(23, 136, 136, 0.214);
        @include posA(70%, 60%);
        z-index: 1;
        box-shadow: 2px 2px 5px black;
    }

}



@media screen and (max-width:1200px) {
    .mainFourth {
        gap: 50px;

        .fourth {
            height: 100%;
            display: flex;
            overflow: hidden;
            
            .fourth-left {
                width: 100%;
            }
            

            .fourth-right {
                display: none;
            }
        }
    }
}


@media screen and (max-width:700px) {
    .mainFourth {
        .fourth {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}